*.DS_Store
*.DotSettings.user
*.userprefs
*.csproj
*.sln
bin/
NOTICE

/final/client/Zoinkies/.idea/
/final/client/Zoinkies/Assets/Plugins.meta
/final/client/Zoinkies/Assets/Plugins/
/final/client/Zoinkies/Library
/final/client/Zoinkies/Temp
/final/client/Zoinkies/bin
/final/client/Zoinkies/obj
/final/client/Zoinkies/Logs

/part1/client/Zoinkies/.idea/
/part1/client/Zoinkies/Assets/Plugins.meta
/part1/client/Zoinkies/Assets/Plugins/
/part1/client/Zoinkies/Library
/part1/client/Zoinkies/Temp
/part1/client/Zoinkies/bin
/part1/client/Zoinkies/obj
/part1/client/Zoinkies/Logs

/part3/client/Zoinkies/.idea/
/part3/client/Zoinkies/Assets/Plugins.meta
/part3/client/Zoinkies/Assets/Plugins/
/part3/client/Zoinkies/Library
/part3/client/Zoinkies/Temp
/part3/client/Zoinkies/bin
/part3/client/Zoinkies/obj
/part3/client/Zoinkies/Logs
